body 
{
background-color:black;
font-family:arial;
color:white;
}

h1
{
color:grey;
font-family:verdana;
text-align: center;
}

div.maindiv
{background-color:white; 
color:black; 
width:300px; 
padding:20px;
border-style:double;
border-radius:25px; 
margin: auto;
position: fixed;
top: 50%;
left: 50%;
margin-top: -150px;
margin-left: -150px;
}

footer 
{ 
text-align:center;
} 


